@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Raleway:wght@100;200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    font-family: 'Raleway';
}

:root {
    --primary-font-family: 'Ubuntu';
    --secondary-font-family: 'Raleway';
    --secondary-font-size: 14px;
    --primary-font-size: 25px;
    --btn-font-size: 14px;
    --white-color: white;
    --black-color: black;
    --purple-color: rgb(72, 56, 117);
    --tomato-color: rgb(245, 70, 70);
}

/* navegation section start */
.navbar-brand img {
    width: 130px;
}

.navbar-toggler{
    background-color: var(--purple-color) !important;
    border: 2px solid rgb(83, 3, 83) !important;
}

.navbar-toggler-icon{
    color: var(--purple-color);
}

.navbar .nav-item .nav-link {
    padding: 14px !important;
    color: var(--black-color);
    font-size: var(--secondary-font-size);
    font-family: var(--secondary-font-family);
}


.navbar .nav-item .nav-link:hover {
    color: var(--purple-color);
}

.navbar .nav-item .nav-link {
    position: relative;
    display: inline-block;
}
 

.navbar .nav-item .nav-link::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--purple-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
}

.navbar .nav-item .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}



.dropdown-menu {
    width: 100px;
}

.dropdown-menu .dropdown-item {
    padding: 5px;
    font-size: 12px;
    margin: 0;
    border-radius: 0px;
}

.dropdown-menu .dropdown-item {
    color: var(--black-color);
    border: none;
    font-family: var(--font-family);
}


.dropdown-menu .dropdown-item:hover {
    color: rgb(255, 255, 255);
    background-color: var(--purple-color);
    border: none;

}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
}

.collapse button {
    background-color: var(--purple-color);
    color: var(--white-color);
    padding: 6px 25px;
    font-size: var(--btn-font-size);
    border: 1px solid var(--purple-color);
    font-weight: 700;
    border-radius: 6px;
    font-family: var(--secondary-font-family);
    transition: 1s;
}

.collapse button:hover {
    background-color: var(--white-color);
    color: var(--purple-color);
    transition: 1s;
}
/* navegation section end */

/* hero section start */
#hero_section {
    background-image: url(..//img/home/Group\ 17.png);
    background-size: cover;
    padding: 120px 0px;
}

.hero_content h1 {
    text-align: center;
    font-weight: 900;
    color: var(--white-color);
    font-family: var(--primary-font-family);
    line-height: 4rem;
}

.hero_content button {
    background-color: var(--tomato-color);
    color: var(--white-color);
    padding: 8px 30px;
    font-size: var(--btn-font-size);
    border: 1px solid var(--tomato-color);
    font-weight: 700;
    border-radius: 6px;
    font-family: var(--secondary-font-family);
    transition: 1s;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

.hero_content button:hover {
    background-color: var(--white-color);
    color: var(--tomato-color);
    box-shadow: 0 0 5px rgb(36, 216, 255), 0 0 20px rgb(36, 216, 255), 0 0 25px rgb(36, 216, 255), 0 0 150px rgb(36, 216, 255), 0 0 200px rgb(36, 216, 255);
    transition: 1s;
}

.domain_area {
    background-color: var(--white-color);
    margin-bottom: -250px;
    border-radius: 10px;
    padding: 20px;
    box-shadow:  0 0 5px rgb(175, 176, 177), 0 0 10px rgb(198, 232, 240);
}

.domain_area h2{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}

.domain_input {
    display: block;
    margin: auto;
    text-align: center;
}

.domain_input input {
    background-color: rgb(184, 184, 184);
    color: var(--white-color);
    padding: 8px 35%;
    font-size: var(--btn-font-size);
    border: none;
    padding-left: 3%;
    font-weight: 700;
    border-radius: 6px;
    font-family: var(--secondary-font-family);
    transition: 1s;
    margin-top: 20px;
}

.domain_input label {
    background-color: var(--purple-color);
    color: var(--white-color);
    padding: 8px  13px;
    font-size: var(--btn-font-size);
    border: none;
    padding-left: 3%;
    font-weight: 700;
    border-radius: 6px;
    font-family: var(--secondary-font-family);
    transition: 1s;
    margin-top: 20px;
}

.domain_input label img {
    width: 23px;
    margin-left: 40px;
}

.domain_box {
    display: block;
    margin: auto;
    text-align: center;
    width: 76%;
    margin-top: 20px;
}

.count-box span {
    color: var(--tomato-color);
    font-weight: 700;
    font-size: 20px;
}

.domain h4 {
    font-family: var(--primary-font-family);
    font-size: 20px;
    color: var(--purple-color);
    font-weight: 600;
}
/* hero section end */

/* Customer section start */
#coustomar_support {
    margin-top: 180px;
    padding: 40px 0px;
}

.coustomar_box {
    display: block;
    margin: auto;
    text-align: center;
    margin: 15px;
}

.coustomar_icon img{
    width: 40px;
}

.coustomar_icon h2{
    font-family: var(--primary-font-family);
    font-size: 20px;
    margin-top: 20px;
}

.coustomar_icon p{
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    line-height: 1.7rem;
    margin-top: 20px;
    text-align: center;
}
/* Customer section end */

/* web hosting section start */
#web_hosting {
    padding: 40px 0px;
}

.hosting_area {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}


.hosting_content button{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid black;
}

.hosting_content h2{
    text-align: center;
    font-weight: 600;
    font-size: var(--primary-font-size);
    font-family: var(--primary-font-family);
}

.hosting_content p{
    text-align: center;
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    font-size: 20px;
    padding-top: 10px;
}

.hosting_input {
    display: block;
    margin: auto;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.hosting_input label {
    background-color: var(--purple-color);
    color: var(--white-color);
    padding: 3px  20px;
    font-size: var(--btn-font-size);
    border: none;
    font-weight: 700;
    border-radius: 4px;
    font-family: var(--secondary-font-family);
    transition: 1s;
    border: 1px solid var(--purple-color);
}

.hosting_input label:hover {
    background-color: aliceblue;
    color: var(--black-color);
}

.hosting_card {
    border: 1px solid rgb(218, 218, 218);
    padding: 0px !important;
    border-radius: 20px 0px 20px !important;
}

.hosting_card h2 {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    font-weight: 600;
    margin-top: 20px;
}

.hosting_card p {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
}


.hosting_card h4 {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    margin-top: 10px;
}

.hosting_card span {
    font-family: var(--secondary-font-family);
    font-size: 25px;
    font-weight: 900;
}

.hosting_card h3 {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    font-weight: 900;
    margin-top: 10px;
}

.hosting_card ul {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size); 
    margin-top: 30px;
}

.hosting_card ul li {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size); 
    text-align: start !important;
    list-style: none;
    padding: 6px;
}

.hosting_card ul li a {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size); 
    text-align: start !important;
    text-decoration: none;
    color: var(--black-color);
}

.hosting_card ul li a img {
   margin-right: 10px !important;
}


.hosting_card button {
    background-color: var(--purple-color);
    color: var(--white-color);
    padding: 12px;
    border: none;
    width: 100%;
    font-size: 17px;
    font-family: var(--primary-font-family);
    transition: 1s;
    border-radius: 0px 0px 20px;
}

.hosting_border {
    width: 80%;
    background-color: aliceblue;
    padding: 0.5px;
    margin-top: 20px !important;
    display: block;
    margin: auto;
}

.hosting_premium {
    background-color: var(--purple-color);
    padding: 0px !important;
    color: var(--white-color) !important;
    border-radius: 20px 0px 20px !important;
    position: relative;
    overflow: hidden;
}

.hosting_position {
    position: absolute;
    transform: rotate(320deg);
    top: 20px;
    right: 240px;
    height: 15px;
    width: 220px;
    background-color: var(--tomato-color);
}

.hosting_position p {
    padding: 8px;
    padding-right: 40px;
    font-size: var(--secondary-font-size);
    background-color: var(--tomato-color);
}

.hosting_premium h2 {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    font-weight: 600;
    padding-top: 20px !important;
}

.hosting_premium p {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
}


.hosting_premium h4 {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    margin-top: 10px;
}

.hosting_premium span {
    font-family: var(--secondary-font-family);
    font-size: 25px;
    font-weight: 900;
}

.hosting_premium h3 {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    margin-top: 10px;
}

.hosting_premium ul {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size); 
    margin-top: 30px;
}

.hosting_premium ul li {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size); 
    text-align: start !important;
    list-style: none;
    padding: 6px;
}

.hosting_premium ul li a {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size); 
    text-align: start !important;
    text-decoration: none;
    color: var(--white-color);
}

.hosting_premium ul li a img {
   margin-right: 10px !important;
}


.hosting_premium button {
    background-color: var(--tomato-color);
    color: var(--white-color);
    padding: 12px;
    border: none;
    width: 100%;
    font-size: 17px;
    font-family: var(--primary-font-family);
    transition: 1s;
    border-radius: 0px 0px 20px;
}
/* web hosting section end */

/* Control Planel section start */
#control_planel {
    padding: 30px 0px;
}

.control_content h2{
    text-align: center;
    font-weight: 900;
    font-size: var(--primary-font-size);
    font-family: var(--primary-font-family);
}

.control_content p{
    text-align: center;
    font-weight: 500;
    font-family: var(--secondary-font-family);
    font-size: 20px;
    padding-top: 10px;
}

.control_icon img {
    width: 40px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.control_icon h3 {
    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px !important;
    text-align: center;
}

.control_icon p{
    text-align: center;
    line-height: 1.5rem;
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    padding-top: 10px;
}


.control_img img {
    width: 100%;
    margin-top: 80px;
}
/* Control Planel section end */

/* host section start */
#host_section {
    padding: 30px 0px;
}

.host_content h2{
    text-align: center;
    font-weight: 900;
    font-size: var(--primary-font-size);
    font-family: var(--primary-font-family);
}

.host_img img {
    width: 100%;
    margin-top: 30px;
}

.host_area h3 {
    text-align: center;
    font-size: 20px;
    font-family: var(--primary-font-family);
    margin-top: 80px;
}

.host_area p{
    text-align: center;
    line-height: 1.5rem;
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    padding-top: 20px;
}

.host_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.host_btn p{
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
}

.host_btn p img {
    margin-right: 10px;
}

.host_btn button{
    background-color: var(--tomato-color);
    color: var(--white-color);
    padding: 3px  20px !important;
    font-size: var(--btn-font-size);
    border: none;
    font-weight: 700;
    margin-top: 10px;
    height: 30px;
    border-radius: 6px;
    font-family: var(--secondary-font-family);
    transition: 1s;
}
/* host section end */

/* location section start */
#location {
    background-image: url(..//img/home/Group\ 344.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.location_content h2 {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    font-weight: 600;
    padding-top: 80px !important;
    text-align: center;
}

.location_content p{
    text-align: center;
    line-height: 1.5rem;
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    padding-top: 8px;
}
/* location section end */

/* tab section start */
.tablist .nav-link {
    border: 1px solid black;
    font-size: 16px;
    padding: 6px 38px !important;
    margin: 20px;
    font-weight: 700;
    border-radius: 6px;
    color: var(--black-color);
    transition: 1s;
}

.tablist .nav-link:hover {
    border: 1px solid var(--purple-color);
    background-color: var(--purple-color);
    color: var(--white-color);
    transition: 1s;
}
/* tab section end */

/* services section start */
#services {
    padding: 20px 0px;
}

.services_content h2 {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    font-weight: 600;
    padding-top: 80px !important;
    text-align: center;
}

.services_content p {
    text-align: center;
    line-height: 1.5rem;
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    padding-top: 8px;
}

.services_card {
    display: block;
    margin: auto;
    text-align: center;
    margin: 15px;
}

.services_card img{
    width: 50px;
}

.services_card h3{
    font-family: var(--primary-font-family);
    font-size: 20px;
    margin-top: 20px;
}

.services_card p{
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    line-height: 1.7rem;
    margin-top: 20px;
    text-align: center;
}

.services_icon {
    width: 20px !important;
}
/* services section end */

/* review section start */
#review {
    padding: 30px 0px;
}

.review_counter h2 {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    font-weight: 600;
}

.review_counter p {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    line-height: 1.5rem;
    margin-top: 30px;
}

.counter {
    color: var(--purple-color) !important;
    font-size: 30px !important;
    font-weight: 600 !important;
}

.count-box {
    margin-top: 50px;
}

.count-box p {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    margin-top: 0px;
}

.testimonial {
    background-color: var(--purple-color);
    padding: 30px;
    border-radius: 6px;
}

.testimoial-icon {
    display: flex;
}

.testimoial-icon img {
    width: 10px !important;
    height: 10px !important;
}

.testimoial-icon p {
    font-size: var(--secondary-font-size);
    font-family: var(--secondary-font-family);
    color: var(--white-color);
    margin-top: 8px;
}

.testimonial_conrent {
    display: flex;
    margin-top: 20px;
}

.testimonial_img {
    margin-left: 5px;
}

.testimonial_img h4{
    font-size: 20px;
    font-family: var(--primary-font-family);
    color: var(--white-color);
}

.testimonial_img p {
    font-size: var(--secondary-font-size);
    font-family: var(--secondary-font-family);
    color: var(--white-color);
    margin-top: 8px;
}

.owl-dots {
    text-align: center;
    margin-top: 2%;
}
  
  .owl-dot {
    width: 20px !important;
    height: 20px !important;
    background-color: black !important;
    border: 2px solid var(--sky-color) !important;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.8;
  }
  
  .owl-dot.active {
    background-color: var(--sky-color) !important;
  }

  .owl-prev {
    font-size: 4em !important;
    position: absolute;
    top: 0;
    background-color: var(--sky-color) !important;
}
.owl-next {
    font-size: 2em !important;
    position: absolute;
    top: 0;
    right: 0;
}  
/* review section end */

/* reating section start */
#reating {
    padding: 30px 0px;
}

.reating_img {
    display: block;
    margin: auto;
}

.reating_img img {
    display: block;
    margin: auto;
}

.reating_img img {
    display: block;
    margin: auto;
}

.reating_img p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    font-family: var(--primary-font-family);
}
/* reating section end */

/* newsletter section start */
#newsletter {
    background-image: url(..//img/home/Rectangle\ 65.png);
    background-position: center;
    background-size: cover;
    padding: 80px 0px;
}

.newsletter_input {
    text-align: center;
}

.newsletter_input h2 {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    font-weight: 600;
}

.newsletter_input input {
    background-color: rgb(184, 184, 184);
    color: var(--white-color);
    padding: 8px 35%;
    font-size: var(--btn-font-size);
    border: none;
    padding-left: 3%;
    font-weight: 700;
    border-radius: 6px;
    font-family: var(--secondary-font-family);
    transition: 1s;
    margin-top: 20px;
}

.newsletter_input label {
    background-color: var(--purple-color);
    color: var(--white-color);
    padding: 8px  13px;
    font-size: var(--btn-font-size);
    border: none;
    font-weight: 700;
    border-radius: 6px;
    font-family: var(--secondary-font-family);
    transition: 1s;
    margin-top: 20px;
}

/* newsletter section end */